* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#battery, #pulseaudio, #language, #network, #tray, #clock, #backlight, #scratchpad, #backlight, #custom-bluetooth, #custom-power, #mode {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    transition-property: background-color;
    border: transparent
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin-right: 5;
    min-width: 30px;
    border: 1px solid #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #ff0000;
}

#battery.charging, #battery.plugged {
    color: #00ff00;
}

#battery.critical:not(.charging) {
    background-color: #cc0000;
    color: #ffffff;
}

#scratchpad.empty {
	background-color: transparent;
}
